* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    /* overflow-x: hidden; */
}
/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#292824;
    border-radius: 10px;
  }

/*header*/
header {}

/*nav*/
nav {
    position: absolute;
    z-index: 2;
    background: rgba(20, 20, 20, 0.3);
    width: 100%;
    min-height: 75px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*logo*/
.logo {
    font-size: 1.5rem;
}

.logo img {}

/*main menu*/
.main-menu {}

.main-menu ul {}

.main-menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 .5em;
}

.main-menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.main-menu ul li a:hover {
    color: rgb(180, 180, 162);
}

.main-menu ul li a.active {
    color:#f8e008;
}

.main-menu.active {
    background-color: red;
    display: block;
}

.right-menu {}

.ham-btn {
    display: none;

}

.nav-btn, .hero-call-to-action-btn {
    background: #ffffff;
    color: #000;
    text-decoration: none;
    padding: .5em;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn {
    background: #f8e008;
    color: #141414;
    margin: .5em;
}

/*main*/
.hero {
    min-height: 100vh;
    background: url('../assets/images/hero-bg.jpg');
    background-size: cover;
}

.dim {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
    min-height: 100vh;
}

.hero-text {
    margin: 5em 1em;
    color: #fff;
    width: 50%;
    padding: 5em;
}

.hero-date-location h5 {
    margin: .35em 0;
}

.hero-date-location i {
    color: #f8e008;
    font-size: 1rem;
    margin: 0 .5em;
}

.hero-heading {
    margin: 1.5em 0;
    font-size: 1.75rem;
}

.hero-description {}

.hero-call-to-action-btn {
    background-color: #f8e008;
    color: #000;
    border: none;
    margin: 1.3em 0;
    padding: .5em;
    font-size: 1.25rem;
}

/*upcoming events*/
.upcoming-events{
    background: url('../assets/images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.upcoming-events h2, .projects h2, .clients h2{
    text-align: center;
    display: block;
    padding: 2em 0 .5em 0;
}
.upcoming-events hr, .projects hr, .clients hr{
    width: 100px;
    height: 5px;
    background-color: #f8e008;
    border:none;
    margin: 0 auto;
}
.upcoming-events .events{
    display: flex;
    padding: 2em 5em;
    gap: 1em;
    /* flex-wrap: wrap; */
}
.upcoming-events .events .event{
    border-radius: 5px;
    min-width: 300px;
    background: #fff;
    text-align:center;
}
.upcoming-events .events .event .event-img {
    max-width: 400px;
}
.upcoming-events .events .event .event-img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.upcoming-events .events .event .event-title, .upcoming-events .events .event .event-description{
    margin-top: 1em;
}
.upcoming-events .events .event .event-description{
    padding: 0 2em 2em 2em;
    color:#353535;
}
/*transition*/
.transition{
    background: url('https://ovatheme.com/em4u/wp-content/uploads/2017/10/7-1-640x384.jpg'); 
    background-size: cover;
    background-position: center;
    height: 50vh;                                      
}
/*projects*/
.projects{
    min-height: 100vh;
    background: url(../assets/images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.projects .project-grid{
     display: flex;
    padding: 2em 5em;
    gap: 1em;
}
.projects .project-grid .project{   
    border-radius: 5px;
    min-width: 300px;
    background: #fff;
    text-align:center;
}
.projects .project-grid .project .project-img{
    width: 300px;
}
.projects .project-grid .project .project-img img{
    width: 100%;
}
.projects .project-grid .project .project-title, .projects .project-grid .project .project-description{
    margin-top: 1em;
}
.projects .project-grid .project .project-description{
    padding: 0 2em 2em 2em;
    color:#353535;
}
/*about*/

/*clients*/
.clients .clients-slider .client{
    width: 150px;
    height: 150px;
}
.clients .clients-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.clients .clients-slider .client img{
    width: 100%;
    border-radius: 50%;
}
/*footer*/

/*mobile screen*/
@media(max-width: 700px) {
    nav {
        flex-wrap: wrap;
    }

    .main-menu {
        display: none;
    }

    .ham-btn {
        display: inline-block;
        cursor: pointer;
        padding: .5em;
        border-radius: .25em;
        background: transparent;
        color: #fff;
    }

    .hero-text {
        padding: 0;
        width: 75%;
        margin: 7em 2em;
    }

    .hero-heading {
        margin: 1.75em 0;
        font-size: 1.5rem;
    }
    /*upcoming events*/
    .upcoming-events .events{
        padding:2em;
    }
    /*projects*/
    .projects .project-grid{
       padding: 2em;
   }
}

/*tablet screen*/
@media(max-width: 1100px) {
    .main-menu {
        display: none;
    }

    .ham-btn {
        display: inline-block;
        cursor: pointer;
        padding: .5em;
        border-radius: .25em;
        background: transparent;
        color: #fff;
    }

    .hero-text {
        padding: 0;
        width: 75%;
    }

    .hero-heading {
        margin: 1.75em 0;
        font-size: 1.5rem;
    }
}