*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/*header*/
header{

}
/*nav*/
nav{
    position: absolute;
    z-index: 2;
    background:rgba(20, 20, 20, 0.3);
    width:100%;
    min-height: 50px;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*logo*/
.logo{
    font-size: 1.5rem;
}
.logo img{
  
}
/*main menu*/
.main-menu{

}
.main-menu ul{

}
.main-menu ul li{
    display: inline-block;
    list-style: none;
    padding: 0 .5em;
}
.main-menu ul li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.main-menu ul li a:hover{

}
.main-menu ul li a.active{

}
.main-menu.active{
    background-color: red;
    display: block;
}
.right-menu{
  
}
.ham-btn{
    display: none;
    
}
.nav-btn{
    background: #ffffff;
    color: #000;
    text-decoration: none;
    padding: .5em;
    border-radius: 5px;
    font-weight:bold;
    cursor: pointer;
}
.login-btn{
    background: #f8e008;
    color: #141414;
    margin: .5em;
}
/*main*/
.hero{
    min-height: 100vh;
    background: url('../assets/images/hero-bg.jpg');
    background-size: cover;
}
.dim{
    position:absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    min-height: 100vh;  
}
.hero-text{
    margin: 100px 10px;
    color: #fff;
    background-color: rgb(39, 37, 37);
    width: 50%;
   
}

/*footer*/

/*mobile screen*/
@media(max-width: 700px){
    nav{
        flex-wrap: wrap;
    }
    .main-menu{
        display: none;
    }
    .ham-btn{
        display:inline-block;
        cursor: pointer;
        padding: .5em;
        border-radius: .25em;
        background: transparent;
        color: #fff;
    }
}

/*tablet screen*/
@media(max-width: 1100px){
    .main-menu{
        display: none;
    }
    .ham-btn{
        display:inline-block;
        cursor: pointer;
        padding: .5em;
        border-radius: .25em;
        background: transparent;
        color: #fff;
    }
}