*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header{

}
/*nav*/
nav{
    position: absolute;
    z-index: 2;
    background:rgb(46, 46, 46);
    opacity: .5;
    width:100%;
    min-height: 50px;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*logo*/
.logo{

}
.logo img{
  
}
/*main menu*/
.main-menu{

}
.main-menu ul{

}
.main-menu ul li{
    display: inline-block;
}
.main-menu ul li a{
    color:#fff;
}

/*main*/
.hero{
    min-height: 100vh;
    background: url('../assets/images/hero-bg.jpg');
    background-size: cover;
}
.dim{
    position:absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    background: #000;
    z-index: 1;
    min-height: 100vh;
    opacity: .5;
    
}

/*footer*/